@import './base.css';

#app {
  width: var(--max-width);
  margin: 0 auto;
  font-weight: normal;
}

.container {
  width: var(--container-width);
  margin: 10% auto ;
}

.container h2 {
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-color);
  padding: 1em 0;
}

.wrapper-category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1.7em;
  padding-bottom: 0.7em;
  margin: 0.7em auto;
}


@media screen and (max-width: 900px) {

  .wrapper-category {
    justify-content: left;
  }
}
.wrapper-category a {
  text-decoration: none;
  outline: none;
  min-width: 20rem;
  width: 20rem;
  height: fit-content;
  gap: 3em;
  border-radius: 0.4em;
  overflow: hidden;
  background-color: var(--color-background);
  box-shadow: 0 0 0.8em rgba(183,185,190,0.5);
  padding: 0.4em;

}



.wrapper-category a h3 {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-color);
  font-weight: 800;
  padding: 1em 0;
}

.wrapper-category a hr {

  width: 40%;
  height: 0.1em;
  background-color: rgba(3, 3, 105, 0.1);
}

.wrapper-category a p {

  padding: 0.2em 0;
}
.wrapper-category a .img {
  width: 100%;
  height: 17rem;
  overflow: hidden;
  border-radius: 0.3em;
}
.wrapper-category a .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-in;
}

.wrapper-category a .img img:hover {

  transform: scale(1.1);
  transition: 0.2s ease-in;
}



.small-card {

  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid rgba(183,185,190,0.5);
  overflow: hidden;
  padding: 0.4em;
}

.small-card  a {
  text-transform: capitalize;
  outline: none;
}

.small-card  a .img-cover{
 width: 100%;
 height: 10em;
 position: relative;
 overflow: hidden;
 transition: 0.2s ease-in;
}

.small-card  a .img-cover button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  z-index: 2;
  cursor:pointer;
}

.small-card a .img-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}
.small-card  a .img-cover img:hover {
  transform: scale(1.1);
  transition: 0.2s ease-out;
}
.small-card h4{
  font-size: 1.2em;
  font-weight: 700;
}

.small-card  p{
  font-size: 0.8em;
  margin: 0;
  text-align: left;
  word-break: break-all;
  padding: 0 0 1.5em;
}

.small-card .cat{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 0.4/7em;
}


.small-card .cat button {

  outline:none;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 0.8em;
  border-radius: 0.3em;
  text-transform: capitalize;
  cursor:pointer;
  transition: 0.2s ease-out;
}
.small-card .cat button:hover {
  background-color: var(--primary-color);
  transition: 0.2s ease-in;
}

.small-card  .cat span {
  font-size: 0.8em;
  font-weight: 500;
}