@import './base.css';

#app {
  width: var(--max-width);
  margin: 0 auto;
  font-weight: normal;
}

.container {
  width: min(100%,98%);
  margin: 10% auto ;
}

.container h2 {
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-color);
  padding: 1em 0;
}

.wrapper-category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1.4em;
  margin: 0.7em auto;
}


@media screen and (max-width: 900px) {

  .wrapper-category {
    justify-content: left;
  }
}
.wrapper-category a {
  text-decoration: none;
  outline: none;
  min-width: 20rem;
  width: 20rem;
  height: fit-content;
  gap: 3em;
  border-radius: 0.4em;
  overflow: hidden;
  background-color: #d9d9d9;
  padding: 0.4em;

}



.wrapper-category a h3 {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-color);
  font-weight: 800;
  padding: 1em 0;
}

.wrapper-category a hr {

  width: 40%;
  height: 0.1em;
  background-color: rgba(3, 3, 105, 0.1);
}

.wrapper-category a p {

  padding: 0.2em 0;
}
.wrapper-category a .img {
  width: 100%;
  height: 17rem;
  overflow: hidden;
  border-radius: 0.3em;
}
.wrapper-category a .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-in;
}

.wrapper-category a .img img:hover {

  transform: scale(1.1);
  transition: 0.2s ease-in;
}